@model Tawsel.ViewModels.DeleteProductViewModel;
@using Tawsel.Enums.ProductEnum;




<form method="post" asp-action="Delete">
    <input asp-for="Id" type="hidden"/>
<div class="container">

    <h1 class="my-4">
        <small>Review before deletion</small>
    </h1>

    <div class="row">
        <div class="col-md-8">
            <img class="img-fluid" src="@Model.ImageUrl" alt="">
        </div>

        <div class="col-md-4">
            <h3 class="my-3">@Model.CreatedAt</h3>
            <p>@Model.CreatedBy</p>
            <ul>
                <li>@Model.Salary</li>
                <li>@Model.Department</li>
                <li>@Model.Name</li>
            </ul>
        </div>

    </div>
    <br/> 
        <button type="submit" class="btn btn-primary">Delete</button>
    </div>
</form>


